/* style.css */
/*
	page width: 1200px
	main color: #35302d
	sub color: #bf2428
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	color: #35302d;
	text-decoration: none;
}
li{ list-style-type: none;}
.clear{ clear: both;}
.line{
	width: 80px;
	height: 3px;
	background: #bf2428;
	display: block;
	margin: 20px auto;
	margin-bottom: 50px;
}

body{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
/*	line-height: 20px;*/
	color: #666;
}

#main_header{
	position: relative;
	width: 1200px; 
	z-index: 999!important;
/*	background: #ccc;*/
	margin: 0 auto;
	text-align: center;
	
}
#main_header > h1{
	padding: 30px 0;
}
#main_gnb{
	position: relative;
	border-top: 1px solid #999;
	padding-top: 5px;
}
/* 1단계 메뉴 */
#main_gnb > .depth1 > li{
	position: relative;
	float: left;
	width: 14.28%;
	height: 30px;
}
#main_gnb > .depth1 > li > a{
	display: block;
	padding: 5px 0px;
	font-size: 1.2em;
	font-weight: bold;
	height: 30px;
}
#main_gnb > .depth1 > li > a:hover{
/*	color: #bf2428;*/
	border-bottom: 3px solid #bf2428;;
}

/* 2단계 메뉴 */
#main_gnb .depth2{
	position: absolute;
	width: 100%;
	background: rgba(200, 200, 200, 0.85);
	height: 115px;
	padding: 10px;
}
#main_gnb .depth2 > li > a{
	display: block;
	padding: 2px 0;
	font-weight: bold;
}
#main_gnb .depth2 > li > a:hover{
	color: #bf2428;
}

/* 메인 배너 */
#main_banner{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}

/* 뉴스 섹션 */
#news{
	position: relative;
	width: 1200px;
	margin: auto;
	text-align: center;
	overflow: hidden;
}
#news > h2, 
#foundation > h2,
#sns_gallery > h2{
	font-size: 36px;
	margin-bottom: 40px;
	color: #bf2428;
}
#news > h2 > span{
	font-size: 24px;
}
#news > aside{
	width: 50%;
	float: left;
	overflow: hidden;
	margin-top: 15px;
}
#news > .news_list{
	width: 50%;
	float: right;
	padding: 15px;
	padding-top: 20px;
	margin-top: 15px;
	border: 1px solid red;
	padding-top: 50px;
}
#news > aside > img{ width: 100%;}
#news > aside > img:first-child{
	margin-bottom: 15px;
}
#news > .news_list > h3{
	font-size: 28px;
}
#news .line{ margin-bottom: 30px;}
#news .news_list > ul{
	margin-bottom: 50px;
/*	border: 1px solid red;*/
	padding: 0px 20px;
	letter-spacing: 1px;
	text-align: left;
}
#news .news_list > ul:last-of-type{
	margin-bottom: 0;
}
#news .news_list > ul li{
	line-height: 2.8em;
	border-bottom: 1px solid #ccc;
}
#news .news_list > ul li > .date{
	float: right;
	font-size: 0.87em;
	color: #999;
}



#foundation{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	overflow: hidden;
	border: 1px solid red;
	padding-top: 20px;
}
#foundation .sub_text{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 40px;
}
#foundation article{ text-align: left;}
#foundation article h3{
	font-family: Arial;
	font-size: 4em;
	font-weight: bold;
	margin: 15px 0 5px 0;
}
#foundation article span{
	font-size: 28px;
}
#foundation article p{
	line-height: 1.8em;
	font-weight: bold;
	margin-bottom: 50px;
}
#foundation .item_list{
	width: 100%;
	overflow: hidden;
	/* 여백 1.25% = 15px, 
		1/4 box width =  24.06% */
}
#foundation .item_list > li{
	width: 288.75px;
	width: 24.06%;
/*	border: 1px solid red;*/
	float: left;	
	margin-right: 1.25%;
}
#foundation .item_list > li:last-child{
	margin-right: 0;
}
#foundation .item_list p{
	margin: 30px 0 15px 0;
} 
#foundation .item_list .num{
	font-family: Arial;
	font-size: 4em;
	font-weight: bold;
	display: block;
}
#foundation .item_list .tit{
	font-size: 28px;
}
#foundation .item_list .txt{
	font-size: 1em;
}

/* 창업문의, 가맹안내...가먕점 현황 */
#foundation .inform_list > li > a{
	display: block;
	width: 186.66px;
	height: 175px;
	border: 2px solid #bf2428;
	text-align: center;
}
#foundation .inform_list > li > a > .fas{
	display: block;
	font-size: 64px;
	color: #bf2428;
	margin: 40px 0 8px 0;
}



/** 이미지 박스 hover 효과 **/
#foundation .item_list > li{
/*	border: 1px solid red;*/
	overflow: hidden;
}
#foundation .item_list > li > img{
	transform-origin: center bottom;
	transition-duration: 0.2s;	
}
#foundation .item_list > li:hover > img{
	transform: scale(1.2);
}





.bx-wrapper, .bx-viewport{
	border: none!important;
}




